{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
  {% keywords_for page as keywords %}
  {% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
  {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
  {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
  {% if page %}
    {{ page.title }}
  {% else %}
    {% trans "Blog" %}
  {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
  {{ block.super }}
  {% if tag or category or year or month or author %}
    <li>{% spaceless %}
      {% if tag %}
        {% trans "Tag:" %} {{ tag }}
        {% else %}{% if category %}
          {% trans "Category:" %} {{ category }}
          {% else %}{% if year or month %}
            {% if month %}{{ month }}, {% endif %}{{ year }}
            {% else %}{% if author %}
              {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
            {% endif %}{% endif %}{% endif %}{% endif %}
    {% endspaceless %}
    </li>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="col-md-9">
    {% block body %}
      {% if tag or category or year or month or author %}
        {% block blog_post_list_filterinfo %}
          <p>
          {% if tag %}
            {% trans "Viewing posts tagged" %} {{ tag }}
            {% else %}{% if category %}
              {% trans "Viewing posts for the category" %} {{ category }}
              {% else %}{% if year or month %}
                {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                {{ year }}
                {% else %}{% if author %}
                  {% trans "Viewing posts by" %}
                  {{ author.get_full_name|default:author.username }}
                {% endif %}{% endif %}{% endif %}{% endif %}
        {% endblock %}
      </p>
      {% else %}
{#        {% if page %}#}
{#          {% block blog_post_list_pagecontent %}#}
{#            {% if page.get_content_model.content %}#}
{#              {{ page.get_content_model.content|richtext_filters|safe }}#}
{#            {% endif %}#}
{#          {% endblock %}#}
{#        {% endif %}#}
      {% endif %}

      {% for blog_post in blog_posts.object_list %}

        <div class="blog-list--item">

        <div class="clearfix">
          {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
            {% block blog_post_list_post_featured_image %}
              <div class="blog-list--item--image">
                <img class="img-fluid" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 260 173 %}">
              </div>
            {% endblock %}
          {% endif %}

          {% block blog_post_list_post_title %}
            <p class="blog-list--item--title">
              <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
            </p>
          {% endblock %}

          {% block blog_post_list_post_content %}
            {{ blog_post.description|safe }}
          {% endblock %}
        </div>

        {% block blog_post_list_post_metainfo %}
          <div class="blog-list--item--meta container">
            <div class="row">
              <div class="col-md-3">
                {% blocktrans with sometime=blog_post.publish_date|date:"F j, Y" %}{{ sometime }}{% endblocktrans %}
              </div>
              <div class="col-md-7">
            {% with blog_post.categories.all as categories %}
              {% if categories %}
                {% trans "Categories" %}:
                {% for category in categories %}
                  <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %},
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
              </div>
              <div class="col-md-2 text-right">
                <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %} &gt;</a>
              </div>
            </div>
          </div>
        {% endblock %}

        {% block blog_post_list_post_links %}
          <div class="blog-list--item--detail">
            {% keywords_for blog_post as tags %}
            {% if tags %}
              <ul class="list-inline tags">
                {% trans "Tags" %}:
                {% spaceless %}
                  {% for tag in tags %}
                    <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
                      {% if not forloop.last %}
                        , {% endif %}</li>
                  {% endfor %}
                {% endspaceless %}
              </ul>
            {% endif %}

          </div>
        {% endblock %}
        </div>
      {% endfor %}

      {% pagination_for blog_posts %}

      {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
      {% endif %}
    {% endblock %}
  </div>

  <div class="col-md-3">
    {% block blog_sidebar %}
      {% nevercache %}
        {% include "includes/language_selector.html" %}
        {% include "includes/user_panel.html" %}
      {% endnevercache %}
      <div class="panel panel-default">
        <div class="panel-body">
          {% block right_panel %}
            {% include "blog/includes/filter_panel.html" %}
            {% ifinstalled mezzanine.twitter %}
              {% include "twitter/tweets.html" %}
            {% endifinstalled %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>

{% endblock %}
