{% extends "pages/richtextpage.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags %}

{% block main %}
  <!--
  This template is provided as a custom template for the homepage, for
  when it is configured as an editable page in the navigation tree. Feel
  free to modify it.
  -->
  {{ block.super }}

  <div class="container mt-3">
    <div class="row">
      <div class="col-md">
        <h2 class="home-subheading">Blog</h2>
        <div class="p-3">
          {% for blog_post in blog_posts %}

            <div class="blog-list-item">

            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
              {% block blog_post_list_post_featured_image %}
                <div class="home-blog-list-image">
                  <img class="img-fluid" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 150 99 %}">
                </div>
              {% endblock %}
            {% endif %}

            {% block blog_post_list_post_title %}
              <p>
                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
              </p>
            {% endblock %}

            {% block blog_post_list_post_metainfo %}
              <p class="home-blog-list-meta">
                {% blocktrans with sometime=blog_post.publish_date|date:"F j, Y" %}{{ sometime }}{% endblocktrans %}
              </p>
            {% endblock %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md">
        <h2 class="home-subheading">Projects</h2>
        <div class="p-3">
          {% for project in projects %}
            <div class="project-list-item">
              <a href="{{ project.get_absolute_url }}">
                <img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{{ project.image }}">
              </a>
              {% block project_list_post_title %}
                <a href="{{ project.get_absolute_url }}"><h3>{{ project.title }}</h3></a>
              {% endblock %}
              {{ project.description_from_content|safe }}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
