{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
  {% keywords_for page as keywords %}
  {% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
  {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
  {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
  {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

  {% for project in projects %}
    <div class="project-list--item container">
      <div class="row">
        <div class="col-sm">
          <a href="{{ project.external_url }}" target="_blank">
            <img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{{ project.image }}">
          </a>
        </div>
        <div class="col-sm">
          {% block project_list_post_title %}
            <a href="{{ project.external_url }}" target="_blank"><h3>{{ project.title }}</h3></a>
          {% endblock %}
          {{ project.description_from_content|safe }}
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
