@import "../node_modules/bootstrap/scss/bootstrap";

// colors
$color-primary: #364aaa;
$color-primary-alt: #475CBD;
// $color-primary: #675848;
$color-secondary: #dc9;

// mixins
.background-primary-gradient {
  background: repeating-linear-gradient(
    90deg,
    $color-primary,
    $color-primary 5px,
    $color-primary-alt 5px,
    $color-primary-alt 6px
  );
}

body {
    font-family: "Open Sans", sans-serif;
}

.footer {
  width: 100%;
  background-color: $color-secondary;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: $color-primary;
}
pre {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  padding: 10px;
}

figure {
  img {
    width: 100%;
  }
  figcaption {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  @media (min-width: 768px) {
    margin: 10px 30px;
    width: 450px;
    &.figure-left {
      float: left;
      margin-left: -30px;
    }
    &.figure-right {
      float: right;
      margin-right: -30px;
    }
    img {
      width: 450px;
    }
  }
}

.navcontainer {
  background: $color-primary-alt;
  .container, .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .tagline {
    display: none;
    @extend .pl-3;
    color: #ccc;
    @media (min-width: 768px) {
      display: inline;
    }
  }
}
.title {
  @extend .background-primary-gradient;
  color: white;
  padding: 25px 15px 15px;
  @media (min-width: 768px) {
    padding: 30px 0 15px;
  }
}
.subtitle {
  @extend .pt-3;
  @extend .pb-3;
}

// blog
.blog-list--item {
  border-bottom: 1px solid #eee;
  @extend .py-4;
  h2 {
    @extend .py-2;
    text-transform: uppercase;
    font-size: 26px;
  }
  .blog-list--item--title {
    font-size: 22px;
    text-transform: uppercase;
  }
  .blog-list--item--meta {
    color: #666;
    font-size: 14px;
    padding: 4px 0;
    @extend .mt-4;
    @extend .no-gutters;
  }
  .blog-list--item--image {
    padding-right: 15px;
    @extend .mb-3;
    @extend .float-left;
  }
}

// home page
.home-subheading {
  @extend .background-primary-gradient;
  color: white;
  font-size: 1.5rem;
  padding: 15px;
}
.home-blog {
  .blog-list--item {
    h2 {
      @extend .py-1;
      text-transform: uppercase;
      font-size: 22px;
    }
    .blog-list--item--meta {
      @extend .my-0;
    }
  }
}

// projects
.project-list--item {
  @extend .pb-3;
  @extend .mb-4;
  border-bottom: 1px solid #eee;
  h2 {
    @extend .py-2;
    text-transform: uppercase;
    font-size: 26px;
  }
  img {
    @extend .mb-2;
  }
}
